@font-face {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1200px;
}

body {
  font-family: "PT Sans", sans-serif;
  margin: 0;
  min-height: 100%;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}
.main-container {
  flex-grow: 1;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  border: 0;
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px 34px;
  border-radius: 4px;
  align-content: center;
}

.button-main {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  padding: 8px 50px;
}

img {
  max-width: 100%;
  height: auto;
}

.page-header {
  display: flex;
  padding: 0 70px;
  justify-content: center;
  box-sizing: border-box;
  color: #000000;
  height: 64px;
}

.logo {
  width: 140px;
  margin-bottom: -9px;
  position: relative;
}
.logo-img {
  display: block;
  width: 140px;
  height: 70px;
}

.logo-partner {
  width: 115px;
  height: 33px;
}

.icon {
  display: block;
}

.navigation {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.navigation-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  padding: 0;
  margin: 0;
}

.navigation-main {
  flex-grow: 1;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: 20px;
  height: 100%;
}

.banner {
  padding: 0 70px;
  display: block;
  margin: 0 auto;
}

.banner-main {
  background-image: url("../images/white-line.png"),
    url("../images/banner-bg.jpg");
  background-repeat: no-repeat no-repeat;
  background-size: auto, cover;
  background-position: center bottom, center;
  background-color: #467aa4;
  color: #ffffff;
  padding-top: 51px;
  padding-bottom: 82px;
}

.main-header {
  padding-top: 64px;
  padding-bottom: 64px;
  padding-right: 70px;
  padding-left: 70px;
}

.main-header-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.advantages-header {
  margin-bottom: 21px;
}

.advantages-header-title {
  margin-bottom: 25px;
}

.advantages-header-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  padding: 0;
  margin: 0;
}

.advantages-header-description--margin {
  margin-bottom: 54px;
}

.advantages-list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 400px);
}

.advantages-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  min-height: 385px;
  box-sizing: border-box;
  background-color: #83b3d31f;
}

.advantages-img {
  width: 800px;
  display: block;
  height: 100%;
  object-fit: cover;
}

.advantages-title {
  margin: 0;
  margin-bottom: 30px;
  flex-grow: 1;
}

.title-line::after {
  content: "";
  width: 60px;
  height: 2px;
  background-color: currentColor;
  opacity: 0.3;
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.advantages-text {
  padding: 102px 85px;
  box-sizing: border-box;
  justify-content: center;
}

.advantages-description {
  margin: 0;
  padding: 0;
  font-weight: 400;
  flex-grow: 1;
}

.main-item {
  width: 100%;
  flex-direction: row;
  background-color: #82b3d3;
  color: white;
  grid-column: 1/-1;
}

.advantages-item:nth-child(odd):not(.main-item) {
  background-color: #83b3d333;
}

.item-service {
  padding: 81px 85px;
  justify-content: center;
}

.item-service::before {
  content: "";
  display: block;
  width: 75px;
  height: 72px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.service-home-icon::before {
  background-image: url("../images/icons/service-home-icon.svg");
}
.service-icon-food::before {
  background-image: url("../images/icons/food-icon.svg");
}

.service-icon-gift::before {
  background-image: url("../images/icons/gift-icon.svg");
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  padding: 22px 12px;
  color: inherit;
  position: relative;
  display: block;
}

.service-icon-home {
  display: block;
}

.navigation-link:hover path {
  fill: #467aa4;
}

.navigation-link[aria-current="page"]::after {
  content: "";
  position: absolute;
  height: 2px;
  right: 0px;
  bottom: 0px;
  background-color: #756257;
  width: 100%;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.newsletter {
  padding: 96px 304px;
  text-align: center;
}

.inner-header {
  margin-bottom: 20px;
}

.inner-header-title {
  color: inherit;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin-bottom: 8px;
  margin-top: 0;
}

.interest-search {
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  padding: 96px 258px 0;
}

.interest-search-form {
  display: flex;

  padding-bottom: 104px;
}

input[type="email"] {
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 20px;
  padding-right: 20px;
  width: 452px;
  background-color: #f2f2f2;
  border: 0;
  box-sizing: border-box;
}

.interest-search-bg {
  background-image: url("../images/form.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #467aa4;
  color: #ffffff;
}

.interest-search-form button {
  border-radius: 0;
  margin-top: 0;
  min-width: 210px;
}

.interest-search-email {
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 20px;
  width: 452px;
}

.catalog-hotels-filter {
  background-image: url("../images/catalog/catalog-filter.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #467aa4;
  color: #ffffff;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 35px;
  padding-bottom: 70px;
}

.catalog-filter {
  display: flex;
  justify-content: space-around;
  width: 1060px;
  gap: 60px;
  margin-top: 10px;
  box-sizing: border-box;
}

.catalog-filter-group {
  border: none;
  padding: 0;
  margin: 0;
  min-width: 180px;
}

.catalog-filter-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.catalog-filter-item {
  padding-bottom: 13px;
}

.control {
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 400;
}

.control-input {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.control-input[type="checkbox"] {
  accent-color: #ffffff;
}

.control-input[type="radio"] {
  accent-color: #ffffff;
}

.filer-botton {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.catalog-hotels form {
  color: #ffffff;
}

.catalog-filter-group input[type="number"] {
  width: 70px;
  height: 40px;
  padding: 0 12px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 700;
  color: #222222;
  background: #ffffff;
  box-sizing: border-box;
  text-align: left;
  outline: none;
  vertical-align: middle;
  width: 143px;
  margin-bottom: 36px;
}

.group-price {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.range-scale {
  position: relative;
  height: 4px;
  margin-bottom: 16px;
  background-color: #242424;
  border-radius: 2px;
}
.range-bar {
  position: absolute;
  height: 4px;
  background-color: #af7842;
}
.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: 2px solid #242424;
  border-radius: 50%;
  cursor: pointer;
}

.range-toggle:hover {
  background-color: #dbb590;
}

.range-toggle:active,
.range-toggle:focus {
  outline: 3px solid #dbb590;
}

.toggle-min {
  top: -8px;
  left: -10px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.breadcrumbs {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 40px;
}

.breadcrumbs-item + .breadcrumbs-item::before {
  content: "›";
  margin: 0 8px;
  color: rgba(255, 255, 255, 0.5);
}

.breadcrumbs-item {
  padding-right: 6px;
}
.breadcrumbs-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
}

.service-icon-home {
  display: block;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  padding-bottom: 32px;
}

.hotel-rating-stars {
  display: inline-block;
  width: 140px;
  height: 34px;
  background-image: url("../images/icons/four-stars-icon.svg");
  overflow: hidden;
}

.header-catalog {
  display: flex;
  padding: 50px 70px 40px;
  align-items: center;
  justify-content: space-between;
}

.catalog-view {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  margin: 0;
  list-style: none;
  gap: 8px;
  padding-left: 0;
}

.catalog-view-button {
  width: 48px;
  height: 48px;
  padding: 0;
  gap: 8px;
}

.catalog-found {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.select-control {
  border: 2px solid #e5e5e5;
  width: 292px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 20px;
}

.control {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.filer-botton {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-left: auto;
  align-self: center;
}

.button:hover {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(97, 80, 72, 1);
}

.button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.button-favorite:active {
  background-color: #82b3d3;
}

.button-favorite:hover {
  background-color: #68a2ca;
}

.button--active:hover {
  background-color: #6c9e42;
}
.button--active:active {
  background-color: #7db54f;
}

.button-reset {
  background-color: transparent;
}

.button-reset:hover {
  background-color: transparent;
  color: rgba(255, 255, 255, 1);
  border: 3px solid rgba(131, 179, 211, 1);
}

.title-catalog {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 0 70px 40px;
  margin: 0 auto;
  max-width: 100%;
  list-style: none;
  position: relative;
}

.hotel-list::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1060px;
  height: 1px;
  background-color: #e5e5e5;
}

.hotel-card {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: 1fr;
  gap: 16px 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
  background-color: #fff;
}

.hotel-card:hover {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.hotel-card-link {
  text-decoration: none;
  color: inherit;
  display: block;
  grid-column: 1/-1;
}

.hotel-card-image {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 16px;
  object-fit: cover;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.hotel-card-type {
  margin: 0;
  padding: 0;
  align-content: center;
}

.hotel-card-price {
  margin: 0;
  padding: 0;
  align-content: center;
  text-align: end;
}

.card-grid {
  display: grid;
  grid-template-columns: 140px 140px;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: #555555;
  gap: 20px;
}

.hotel-card-button {
  padding: 8px;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

.button-favorite {
  background-color: #82b3d3;
}

.button--active {
  background-color: #7db54f;
}

.hotel-rating-score {
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  border-radius: 4px;
  padding: 8px 0;
  text-align: center;
  align-content: center;
  text-transform: uppercase;
}

.filter-price {
  min-width: 288px;
  margin-left: 70px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  width: 60px;
  height: 60px;
  padding: 14px 20px;
  border-radius: 4px;
  text-align: center;
}

.pagination-link [aria-current="page"] {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-ellipsis {
  background-color: #ffffff;
  color: inherit;
}

.pagination {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
  list-style: none;
  padding: 0;
  margin-top: 40px;
  margin-left: 70px;
  margin-right: 70px;
}

.pagination-current {
  background-color: #f2f2f2;
  color: #000000;
}

.footer-phone {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  color: inherit;
  text-transform: uppercase;
  text-align: center;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  padding: 40px 70px 30px;
  align-items: center;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  padding: 0;
  margin: 0;
}

.social-link:hover path {
  fill: #467aa4;
}

.social-link:focus path {
  fill: #68a2ca;
}

.footer-phone:hover {
  color: #756157;
}
.logo-partner:hover path {
  fill: #756157;
}
.logo-partner:focus path {
  fill: #756157;
}

.footer-phone:focus {
  color: #756157;
}
.breadcrumbs-link:hover {
  color: #ffffff99;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*модальное окно*/
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  background: #ffffff;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.modal-search {
  max-width: 717px;
}

.modal-close-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  margin: 64px 52px 0 0;
  width: 52px;
  height: 52px;
  background-color: #f2f2f2;
  border-radius: 50%;
  border: 0;
  background-image: url("../images/icons/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:focus {
  outline: 3px solid #83b3d3;
}

.modal-close-button:active {
  opacity: 0.3;
}

.modal-close-button:disabled {
  opacity: 0.1;
}

.modal-container-close {
  display: none;
}

.modal-title {
  margin: 0 0 64px 0;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.modal-form {
  display: grid;
  grid-template-columns: 247px 247px;
  gap: 0 82px;
}

.field-group {
  display: grid;
  grid-template-columns: 137px 440px;
  grid-column: 1 / -1;
  margin-bottom: 17px;
  align-items: center;
}

.modal-form-label {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.modal-form-field {
  margin: 0;
  padding: 10px 50px 10px 18px;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background-color: #f2f2f2;
  border: 2px solid transparent;
  border-radius: 4px;
  background-image: url("../images/icons/date.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
}

.modal-form-field::placeholder {
  opacity: 0.6;
}

.modal-form-field:hover {
  background-color: #e6e6e6;
}

.modal-form-field:focus {
  outline: 3px solid #83b3d3;
}

.modal-form-field:active {
  border: 2px solid #000000;
}

.modal-form-field:disabled {
  opacity: 0.1;
}

.modal-message {
  grid-column: 2 / -1;
  padding: 5px 20px;
  font-size: 16px;
  font-weight: 400;
}

.modal-message-error {
  color: #ff5757;
}

.modal-form-guests {
  display: grid;
  grid-template-columns: 130px 110px;
  column-gap: 7px;
  align-items: center;
}

.modal-form-field-wrapper {
  display: grid;
  grid-template-columns: 40px 31px 40px;
}

.modal-form-field-count {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
  background-color: #f2f2f2;
  border: none;
  font-family: inherit;
  text-align: center;
  appearance: textfield;
  outline: none;
}

.modal-form-field-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #f2f2f2;
  outline: none;
  cursor: pointer;
}

.modal-form-field-icon {
  display: block;
  color: rgba(117, 97, 87, 0.3);
}

.modal-form-field-button:hover .modal-form-field-icon {
  color: #000000;
}

.modal-form-field-button:focus-visible .modal-form-field-icon {
  border-radius: 4px;
  outline: 3px solid #82b3d3;
}

.modal-form-field-button:active .modal-form-field-icon {
  opacity: 0.2;
}

.modal-form-field-button:disabled .modal-form-field-icon {
  opacity: 0.1;
}

.modal-form-field-minus {
  border-radius: 4px 0 0 4px;
}

.modal-form-field-plus {
  border-radius: 0 4px 4px 0;
}

.modal-form-field-count::-webkit-outer-spin-button,
.modal-form-field-count::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
}

.modal-form-wrapper-kids {
  display: flex;
  justify-self: flex-start;
  align-items: center;
}

.modal-form-wrapper-kids .modal-form-label {
  margin-left: 6px;
  margin-right: 11px;
  max-width: 82px;
}

.tooltip {
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  padding: 0;
  margin: 0;
  width: 26px;
  height: 26px;
  color: #ffffff;
  background-color: #83b3d3;
  border-radius: 50%;
  align-items: center;
  border: none;
}

.tooltip:hover .tooltip-icon {
  color: #000000;
}

.tooltip-wrapper {
  position: relative;
}

.tooltip-text {
  position: absolute;
  z-index: 3;
  display: none;
  top: 41px;
  left: 50%;
  margin: 0;
  padding: 15px 18px 18px 22px;
  width: 256px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  border-radius: 10px;
  color: #ffffff;
  background-color: #333333;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  transform: translateX(-50%);
}

.tooltip-text::before {
  position: absolute;
  content: "";
  top: -6px;
  left: 50%;
  width: 13px;
  height: 13px;
  background-color: #333333;
  transform: translateX(-50%) rotate(45deg);
}

.tooltip:hover + .tooltip-text,
.tooltip:focus + .tooltip-text {
  display: block;
}

.modal-button {
  grid-column: 1 / -1;
  margin-top: 48px;
  padding-top: 18px;
  padding-bottom: 18px;
  font-size: 20px;
  line-height: 24px;
  word-wrap: break-word;
  color: #ffffff;
  background-color: #83b3d3;
  border-radius: 10px;
}
