@font-face {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;

  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

body {
  min-width: 1200px;
  min-height: 100%;
  margin: 0;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0;
  color: #000000;
}

.main-container {
  flex-grow: 1;
}

.button {
  align-content: center;
  padding: 8px 28px;

  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #756157;
  border: 0;
  border-radius: 4px;
}

.navigation-button + .navigation-button {
  margin-left: 20px;
}

.button-main {
  padding: 8px 30px;

  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
}

.button-main + .button-main {
  margin-top: 20px;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.page-header {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 0 70px;

  color: #000000;
}

.logo {
  position: relative;

  display: block;
  height: 70px;
  width: 140px;
  margin-bottom: -9px;
}

.logo-img {
  display: block;
  width: 140px;
  height: 70px;
}

.logo-partner {
  width: 115px;
  height: 33px;
}

.icon {
  display: block;
}

.navigation {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin-left: 30px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;

  list-style: none;
}

.navigation-favorite {
  position: relative;
}

.navigation-favorite-count {
  position: absolute;
  top: 10px;
  left: 20px;
  width: 20px;
  height: 20px;

  font-size: 10px;
  line-height: 2;
  text-align: center;
  letter-spacing: 0;
  color: #ffffff;

  background: #7db54f;
  border-radius: 50%;
}

.navigation-main {
  flex-grow: 1;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: 20px;
  height: 100%;
  max-width: 250px;
}

.navigation-user .navigation-link {
  padding: 21px 11px;
}

.banner {
  display: block;
  margin: 0 auto;
}

.banner-main {
  padding: 51px 70px 82px;

  color: #ffffff;

  background-image: url("../images/white-line.png"),
    url("../images/banner-bg.jpg");
  background-repeat: no-repeat no-repeat;
  background-size: auto, cover;
  background-position: center bottom, center;
  background-color: #467aa4;
}

.main-header {
  padding: 70px 230px 64px;
}

.main-header-title {
  margin: 0 0 25px 0;
  padding: 0;

  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -2px;
}

.main-header-service {
  padding-top: 64px;
}

.advantages-header {
  margin-bottom: 25px;
}

.advantages-header-title--margin {
  margin-bottom: 20px;
}

.advantages-header-description {
  padding: 0;
  margin: 0;

  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.advantages-header-description--margin {
  margin-bottom: 56px;
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  padding: 0;
  margin: 0;

  list-style: none;
  text-align: center;
}

.advantages-item {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  width: 400px;
  min-height: 385px;

  background-color: #83b3d31f;
}

.advantages-img {
  display: block;
  object-fit: cover;
  width: 800px;
  height: 100%;
}

.title-line::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  margin: 30px auto;

  background-color: currentColor;
  opacity: 0.3;
}

.advantages-text {
  box-sizing: border-box;
  justify-content: center;
  width: 400px;
  padding: 102px 85px;
}

.advantages-description {
  margin: 0;
  padding: 0;

  font-weight: 400;
  flex-grow: 1;
  letter-spacing: -1px;
}

.advantages-description-service {
  letter-spacing: 0;
}

.main-item {
  flex-direction: row;
  grid-column: 1/-1;
  width: 100%;

  color: white;
  background-color: #82b3d3;
}

.advantages-item:nth-child(odd):not(.main-item) {
  background-color: #83b3d333;
}

.advantages-item:not(.main-item):not(.item-service) {
  padding: 112px 80px;
}

.item-service {
  justify-content: center;
  padding: 81px 79px;
}

.item-service::before {
  content: "";
  display: block;
  width: 75px;
  height: 72px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.service-home-icon::before {
  background-image: url("../images/icons/service-home-icon.svg");
}
.service-icon-food::before {
  background-image: url("../images/icons/food-icon.svg");
}

.service-icon-gift::before {
  background-image: url("../images/icons/gift-icon.svg");
}

.navigation-link {
  position: relative;
  display: block;
  padding: 20px 13px;

  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  letter-spacing: -1px;
  color: inherit;
}

.service-icon-home {
  display: block;
}

.navigation-link:hover svg {
  fill: #467aa4;
}

.navigation-link[aria-current="page"]::after {
  content: "";
  position: absolute;
  right: 50%;
  left: 14px;
  bottom: -1px;
  width: 68%;
  height: 2px;

  background-color: #756257;
}

.advantages-title {
  flex-grow: 1;
  margin: 0;
  padding: 0;

  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -2px;
}

.advantages-title--margin {
  margin-bottom: 30px;
}

.newsletter {
  padding: 95px 290px;

  text-align: center;
}

.inner-header {
  margin-bottom: 20px;
}

.inner-header-title {
  margin-bottom: 8px;
  margin-top: 0;

  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: inherit;
}

.interest-search {
  padding: 95px 258px 2px;

  text-align: center;
  color: #000000;

  background-color: #ffffff;
}

.interest-search-form {
  display: flex;
  padding-bottom: 104px;
  min-height: 52px;
}

.interest-search-form input[type="email"] {
  box-sizing: border-box;
  padding: 11px 20px;
  width: 452px;

  font-weight: 400;
  font-size: 18px;
  line-height: 24px;

  background-color: #f2f2f2;
  border-radius: 4px 0 0 4px;
  border: 3px solid #f2f2f2;
}

.interest-search-bg {
  color: #ffffff;
  background-image: url("../images/form.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #467aa4;
}

.interest-search-form button {
  width: 232px;
  margin-top: 0;

  border-radius: 0 4px 4px 0;
}

.interest-search-form input[type="email"]:hover,
.interest-search-form input[type="email"]:focus {
  border: 3px solid #467aa4;
}

.interest-search-form
  input[type="email"]:disabled
  + .interest-search-form
  button {
  opacity: 0.6;
}

.catalog-hotels-filter {
  padding: 35px 70px 57px 70px;

  color: #ffffff;

  background-image: url("../images/catalog/catalog-filter.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #467aa4;
}

.catalog-filter {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  gap: 48px;
  width: 1060px;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  min-width: 150px;

  border: none;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-filter-item {
  padding-bottom: 16px;
}

.group-price {
  max-width: 290px;
  margin-left: 93px;
}

.price-label {
  position: relative;
  display: inline-block;
}

.price-label-text {
  position: absolute;
  right: 20px;
  top: 50%;
  z-index: 2;

  color: #666;

  transform: translateY(-50%);
  pointer-events: none;
}

.control {
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  font-weight: 400;
  position: relative;
  font-size: 18px;
  line-height: 23px;
  padding-left: 20px;
}

.control-input {
  width: 20px;
  height: 20px;

  cursor: pointer;
}

.control-input[type="radio"] + .control-mark {
  background-color: white;
  border-radius: 100%;
}

.control-input[type="checkbox"] + .control-mark {
  background-color: white;
  border-radius: 4px;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  content: "";
  top: 3px;
  left: 3px;
  width: 10px;
  height: 10px;

  background-color: #3f5e72;
  border-radius: 50%;
}

.control-mark {
  position: absolute;
  left: 1px;
  width: 16px;
  height: 16px;

  border: 2px solid transparent;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  content: "";
  top: 3px;
  left: 3px;
  width: 12px;
  height: 10px;

  background-image: url("../images/icons/form-arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 12px;
}

.control:focus
  .control-input[type="checkbox"]:not(:disabled):not(:active)
  + .control-mark,
.control:focus
  .control-input[type="radio"]:not(:disabled):not(:active)
  + .control-mark {
  border: 3px solid #467aa4;
}

.control:hover
  .control-input[type="checkbox"]:not(:disabled):not(:active)
  + .control-mark,
.control:hover
  .control-input[type="radio"]:not(:disabled):not(:active)
  + .control-mark {
  opacity: 0.6;
}

.control-input[type="checkbox"]:focus-visible + .control-mark,
.control-input[type="radio"]:focus-visible + .control-mark {
  outline: auto;
}

.control-input[type="checkbox"]:disabled + .control-mark,
.control-input[type="radio"]:disabled + .control-mark {
  opacity: 0.6;
}

.control-label {
  padding-left: 16px;
}

.range-input[type="number"]::-webkit-outer-spin-button,
.range-input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.range-input::placeholder {
  float: right;
}

.catalog-hotels form {
  color: #ffffff;
}

.catalog-filter-group input[type="number"] {
  box-sizing: border-box;
  outline: none;
  vertical-align: middle;
  width: 143px;
  min-height: 48px;
  padding: 0 20px;

  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: #222222;

  background: #ffffff;
  border: none;
}

.range-wrapper-inputs {
  display: flex;
  gap: 2px;
  margin-bottom: 36px;

  overflow: auto;
}

.range-wrapper-bar {
  display: flex;
  align-items: center;
  height: 20px;
}

.range-scale {
  position: relative;
  min-width: 100%;
  height: 4px;

  background-color: #d9d9d9;
}

.range-bar {
  position: absolute;
  height: 4px;

  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -8px;
  width: 20px;
  height: 20px;
  cursor: pointer;

  background: #ffffff;
  border: 3px solid transparent;
  border-radius: 5px;
}

.range-toggle:hover {
  border: 3px solid #83b3d3;
}

.range-toggle:active,
.range-toggle:focus {
  border: 3px solid #83b3d3;
}

.control-mark:active {
  border: 2px solid #83b3d3;
}

.control-mark:hover,
.control-mark:focus {
  border: 3px solid #83b3d3;
}

.control-mark:focus .toggle-min {
  top: -8px;
}

.toggle-max {
  top: -8px;
  right: -1px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 4px;
  margin-bottom: 40px;
  margin-top: 0;
  padding: 0;

  font-size: 14px;
  list-style: none;
  color: rgba(255, 255, 255, 0.7);
}

.breadcrumbs-item + .breadcrumbs-item::before {
  display: inline-block;
  content: " ";
  align-items: center;
  width: 20px;
  height: 8px;
  margin-right: 8px;

  color: rgba(255, 255, 255, 0.5);

  background-image: url("../images/icons/breadcrumbs.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.breadcrumbs-item {
  display: flex;
  align-items: center;
}

.breadcrumbs-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.service-icon-home {
  display: block;
}

.catalog-filter-title {
  padding: 0 0 32px 0;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.header-catalog {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 50px 70px 35px;
}

.catalog-view {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  max-width: 160px;
  gap: 8px;
  margin: 0;
  padding-left: 0;

  list-style: none;
}

.catalog-view-button {
  width: 48px;
  height: 48px;
  gap: 8px;
  padding: 0;

  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.catalog-view-button:focus {
  border: 2px solid #68a2ca;
}

.catalog-view-button:hover,
.catalog-view-button:active {
  border: 2px solid #000000;
}

.select-control:hover,
.select-control:focus,
.select-control:active {
  border: 2px solid #68a2ca;
}

.select-control:disabled {
  border: 2px solid rgba(0, 0, 0, 0.3);
}

.view-list {
  background-image: url("../images/icons/view-list-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px;
}

.view-cards {
  background-image: url("../images/icons/view-one-card-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px;
}

.view-catalog {
  background-image: url("../images/icons/view-cards-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px;
}

.catalog-found {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.select-control {
  width: 292px;
  padding: 14px 20px;

  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  border: 2px solid #e5e5e5;
  background-image: url("../images/icons/arrow.svg");
  background-position: 94% 45%;
  background-repeat: no-repeat;
  background-size: 12px;

  appearance: none;
  cursor: pointer;
}

.filter-botton {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  width: 190px;
  gap: 32px;
  margin-left: 22px;
  padding-top: 46px;
}

.button:disabled,
.button-favorite:disabled,
.button--active:disabled {
  background-color: #e5e5e5;
}

.button:not(:disabled):hover {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(97, 80, 72, 1);
}

.button:not(:disabled):active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.button-favorite:not(:disabled):active {
  background-color: #82b3d3;
  border: 3px solid rgba(131, 179, 211, 1);
}

.button-favorite:not(:disabled):hover {
  background-color: #68a2ca;
}

.button--active:not(:disabled):hover {
  background-color: #6c9e42;
}
.button--active:not(:disabled):active {
  background-color: #7db54f;
}

.button-reset {
  background-color: transparent;
  border: 3px solid transparent;
}

.button-reset:hover {
  background-color: transparent;
  color: rgba(255, 255, 255, 1);
  border: 3px solid rgba(131, 179, 211, 1);
}

.title-catalog {
  margin: 0;
  padding-right: 90px;

  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.hotel-list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 100%;
  gap: 18px;
  margin: 0 auto;
  padding: 0 70px 40px;

  list-style: none;
}

.hotel-list::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1060px;
  height: 1px;

  background-color: #e5e5e5;
}

.hotel-card {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: 1fr;
  gap: 15px 20px;
  padding: 20px;

  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;

  overflow: hidden;
}

.hotel-card:hover {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.hotel-card-link {
  display: block;
  grid-column: 1/-1;

  text-decoration: none;
  color: inherit;
}

.hotel-card-image {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 18px;
  object-fit: cover;
}

.hotel-card-title {
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}

.hotel-card-info {
  grid-column: 1/-1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  margin: 0;
  padding: 0;
}

.hotel-card-type {
  align-content: center;
  margin: 0;
  padding: 0;
}

.hotel-card-price {
  align-content: center;
  margin: 0;
  padding: 0;

  text-align: end;
}

.hotel-card-rating {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
}

.star {
  width: 114px;
  height: 17px;
}

.star::before {
  content: "";
  display: block;
  height: 17px;

  background-image: url("../images/icons/star-icon.svg");
  background-repeat: space no-repeat;
  background-size: contain;
}

.star-5::before {
  width: 109px;
}
.star-4::before {
  width: 88px;
}

.star-3::before {
  width: 65px;
}
.star-2::before {
  width: 41px;
}
.star-1::before {
  width: 24px;
}

.card-grid {
  display: grid;
  grid-template-columns: 140px 140px;
  gap: 20px;

  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: #555555;
}

.hotel-card-button {
  padding: 5px;

  font-size: 14px;
  border: 3px solid transparent;

  cursor: pointer;
}

.button-favorite {
  background-color: #82b3d3;
}

.button--active {
  background-color: #7db54f;
}

.hotel-rating-score {
  margin: 0;
  padding: 8px 16px;
  align-content: center;

  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -1px;

  background-color: #f2f2f2;
  border-radius: 4px;
}

.filter-price {
  min-width: 288px;
  margin-left: 70px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  min-width: 60px;
  min-height: 60px;
  padding: 11px 11px;

  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #ffffff;

  border-radius: 4px;
  background-color: #82b3d3;
}

.pagination-link [aria-current="page"] {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-ellipsis {
  color: inherit;
  background-color: #ffffff;
}

.pagination {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  margin: 35px 70px 60px 70px;
  padding: 0;

  list-style: none;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.footer-phone {
  display: flex;
  flex-direction: column;
  max-width: 400px;

  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: inherit;
  letter-spacing: 0.5px;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 44px 70px 30px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 150px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.social-link svg {
  fill: #83b3d3;
}

.footer-logo-link {
  color: #000000;
}

.social-link:hover svg {
  fill: #467aa4;
}

.social-link:focus svg {
  fill: #68a2ca;
}

.footer-phone:hover {
  color: #756157;
}

.logo-partner:hover {
  fill: #756157;
}
.logo-partner:focus {
  fill: #756157;
}

.footer-phone:focus {
  color: #756157;
}
.breadcrumbs-link:hover {
  color: #ffffff99;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  width: 100%;
  height: 100%;

  background-color: rgba(242, 242, 242, 0.8);
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;

  background: #ffffff;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.modal-search {
  max-width: 717px;
}

.modal-close-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  margin: 64px 52px 0 0;
  width: 52px;
  height: 52px;

  background-color: #f2f2f2;
  border-radius: 50%;
  border: 0;
  background-image: url("../images/icons/close.svg");
  background-repeat: no-repeat;
  background-position: center;

  cursor: pointer;
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:focus {
  outline: 3px solid #83b3d3;
}

.modal-close-button:active {
  opacity: 0.3;
}

.modal-close-button:disabled {
  opacity: 0.1;
}

.modal-container-close {
  display: none;
}

.modal-title {
  margin: 0 0 64px 0;

  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.modal-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 88px;
}

.field-group {
  display: grid;
  grid-template-columns: 140px 1fr;
  grid-column: 1 / -1;
  margin-bottom: 17px;
  align-items: center;
  gap: 18px;
}

.modal-form-label {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.modal-form-field {
  margin: 0;
  padding: 10px 50px 10px 18px;

  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;

  background-color: #f2f2f2;
  border: 2px solid transparent;
  border-radius: 4px;
  background-image: url("../images/icons/date.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
}

.modal-form-field::placeholder {
  opacity: 0.6;
}

.modal-form-field-count[type="number"]::-webkit-inner-spin-button,
.modal-form-field-count[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.modal-form-field:hover {
  background-color: #e6e6e6;
}

.modal-form-field:focus {
  outline: 3px solid #83b3d3;
}

.modal-form-field:active {
  border: 2px solid #000000;
}

.modal-form-field:disabled {
  opacity: 0.1;
}

.modal-message {
  grid-column: 2 / -1;
  padding: 5px 20px;

  font-size: 16px;
  font-weight: 400;
}

.modal-message-error {
  color: #ff5757;
}

.modal-form-guests {
  display: grid;
  grid-template-columns: 140px 110px;
  gap: 18px;
  align-items: center;

  overflow-wrap: break-word;
}

.modal-form-field-wrapper {
  display: grid;
  grid-template-columns: 40px 31px 40px;
}

.modal-form-field-count {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;

  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  font-family: inherit;
  text-align: center;
  color: #000000;

  background-color: #f2f2f2;
  border: none;

  outline: none;
}

.modal-form-field-button {
  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  background-color: #f2f2f2;

  outline: none;
  cursor: pointer;
}

.modal-form-field-icon {
  display: block;

  color: rgba(117, 97, 87, 0.3);
}

.modal-form-field-button:hover .modal-form-field-icon {
  color: #000000;
}

.modal-form-field-button:focus-visible .modal-form-field-icon {
  border-radius: 4px;
  outline: 3px solid #82b3d3;
}

.modal-form-field-button:active .modal-form-field-icon {
  opacity: 0.2;
}

.modal-form-field-button:disabled .modal-form-field-icon {
  opacity: 0.1;
}

.modal-form-field-minus {
  border-radius: 4px 0 0 4px;
}

.modal-form-field-plus {
  border-radius: 0 4px 4px 0;
}

.modal-form-field-count::-webkit-outer-spin-button,
.modal-form-field-count::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
}

.modal-form-wrapper-kids {
  display: flex;
  justify-self: flex-start;
  align-items: center;
}

.modal-form-wrapper-kids .modal-form-label {
  max-width: 82px;

  margin-left: 6px;
  margin-right: 4px;
}

.tooltip {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 26px;
  height: 26px;
  margin: 0;
  padding: 0;

  color: #ffffff;

  background-color: #83b3d3;
  border-radius: 50%;
  border: none;
}

.tooltip:hover .tooltip-icon {
  color: #000000;
}

.tooltip-wrapper {
  position: relative;
}

.tooltip-text {
  position: absolute;
  z-index: 3;
  display: none;
  top: 40px;
  left: 50%;
  width: 216px;
  margin: 0;
  padding: 21px 19px 23px 22px;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;

  background-color: #333333;
  border-radius: 10px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  transform: translateX(-50%);
}

.tooltip-text::before {
  position: absolute;
  content: "";
  top: -6px;
  left: 50%;
  width: 13px;
  height: 13px;

  background-color: #333333;
  transform: translateX(-50%) rotate(45deg);
}

.tooltip:hover + .tooltip-text,
.tooltip:focus + .tooltip-text {
  display: block;
}

.modal-button {
  grid-column: 1 / -1;
  margin-top: 48px;
  padding-top: 18px;
  padding-bottom: 18px;

  font-size: 20px;
  line-height: 24px;
  word-wrap: break-word;
  color: #ffffff;

  background-color: #83b3d3;
  border-radius: 10px;
}
