@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/pt-sans-italic.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold-italic.woff2") format("woff2");
  font-display: swap;
}

/* PT Sans Narrow */
@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-narrow-bold.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

body {
  font-family: "PT Sans", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}
.main-container {
  flex-grow: 1;
}

.button {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  border: 0;
  text-decoration: none;
  text-transform: uppercase;
  opacity: none;

  padding: 8px 34px;
}

.button-main {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
}

h1 {
  font-family: "PT Sans", sans-serif;

  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}

h2 {
  font-family: "PT Sans", sans-serif;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  padding: 0 70px;
  box-sizing: border-box;
}

.logo {
  margin-right: 30px;
  margin-top: auto;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 40px;
  flex-grow: 1;
  justify-content: space-between;
}

.navigation-list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  gap: 8px;
}

.navigation-main {
  flex-grow: 1;
}

.navigation-user {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-right: 20px;
}

.navigation-link {
  padding: 0 8px;
  text-decoration: none;
  color: inherit;
}

.banner-main {
  background: url("../images/white-line.png") bottom no-repeat,
    url("../images/banner-bg.jpg") center no-repeat;
  background-color: #467aa4;
  width: 1200px;
  height: 485px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.advantages-header {
  padding-top: 64px;
  padding-bottom: 64px;
}

.advantages-header-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-header-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.advantages-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.advantages-img {
  flex: 1;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.title-line {
    position: relative;
  margin: 0 auto 16px;
  padding-bottom: 30px;

}

.title-line::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 2px;
  background-color: #000000;
}

.main-item .title-line::after {
  background-color: #ffffff;
}

.advantages-text {
  flex: 1;
  padding: 102px 85px;
}

.advantages-title{
margin: 0;

}

.advantages-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 385px;
  width: 400px;
  text-align: center;
  box-sizing: border-box;
  background-color: #83b3d31f;
}

.advantages-item:nth-child(odd) {
  background-color: #83b3d333;
}

.advantages-list li:not(.main-item) {
  padding: 112px 70px;
}

.advantages-item.main-item {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: row;
  background-color: #82b3d3;
  color: white;
}

/*.service .advantages-list li{
  padding:81px 85px;
}

.service-icon-home{
  background-image: url('../images/icons/home-icon.svg');
  background-repeat: no-repeat;
  width: 75px;
  height: 72px;
  background-size: contain;
  padding-bottom: 30px;
}

.service-icon-food{
  background-image: url('../images/icons/food-icon.svg');
  background-repeat: no-repeat;
  width: 75px;
  height: 72px;
  background-size: contain;
  padding-bottom: 30px;
}

.service-icon-gift{
  background-image: url('../images/icons/gift-icon.svg');
  background-repeat: no-repeat;
  width: 75px;
  height: 72px;
  background-size: contain;
  padding-bottom: 30px;
}*/

/*страницы*/
.page-header {
  color: #000000;
}
.navigation-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.advantages-title {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.interest-search {
  color: #000000;
  background-color: #ffffff;
}

.interest-search-bg {
  background-image: url("../images/form.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #467aa4;
  color: #ffffff;
}

.interest-search-form button {
  background-color: #82b3d3;
}

.catalog-hotels-filter {
  background-image: url("../images/catalog/catalog-filter.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #467aa4;
}

.catalog-hotels form {
  color: #ffffff;
}

.breadcrumbs-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.catalog-found {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.control {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}

.hotel-rating-score {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.button-favorite {
  background-color: #82b3d3;
  border: 0;
}

.pagination-link {
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

/*футер*/
.footer-phone {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

h1.visually-hidden,
h2.visually-hidden {
  display: none;
}
